.task-container {
    padding: 1rem;
    min-width: 500px;
    background-color: #FBFAFC;


    mat-form-field {
        width: 100%;
    }

    button {
        border-radius: 10px;
    }

    header {
        padding-bottom: 1rem;
    }

    footer {
        padding-top: 0.5rem;
        justify-content: flex-end;
        display: flex;
        gap: 0.5rem;
    }

    h2 {
        color: #20233a;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.03em;
        margin: 0.5rem 0;
    }

    span {
        display: block;
        margin-bottom: 1rem !important;
        color: #797987;
        font-size: 12px;
        font-weight: 400;
    }

    .form-input {
        padding-top: 1rem;
    }

    textarea {
        min-height: 80px;
    }

}