.column-container {
    background-color: #EFEEE9;
    width: 300px;
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box;

    .title {
        display: flex;
        justify-content: space-between;
        button {
            text-decoration: none !important;
            border: none;
            background-color: transparent;
            padding: 0;
        }

        mat-icon {
            font-size: 14px;
            padding: 0;
            align-items: center;
        }
    }

    h2 {
        margin: 0;
        color: #20233a;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.01em;
    }
}