<app-header />

<div class="container-board">
  @for (col of boardservice.columns(); track $index) {
    <app-column [column]="col" [connectedLists]="connectedLists" (taskDropped)="onDrop($event)" />
  }
  <div>
    <div class="column-container">
      @if (!showInput()) {
          <button class="add-list-button" dottedButtonStyle (click)="changeShowInput()">
            <mat-icon aria-hidden="false" aria-label="add icon" fontIcon="add"></mat-icon>
         Add another list
          </button>

      } @else {
        <form (submit)="addColumn($event)"  (keydown.escape)="closeInput()">
          <input
            appInputStyle="default"
            [formField]="columnForm.name"
            placeholder="Add another list"
          />
          <footer>
            <button matButton="filled" [disabled]="columnForm().invalid()" type="submit">Add</button>

            <div class="close-button">
              <button (click)="changeShowInput()" type="button">
                <mat-icon aria-hidden="false" aria-label="add icon" fontIcon="close"></mat-icon>
              </button>
            </div>

            <span class="add-list-shortcuts">Enter to add · Esc to cancel</span>
          </footer>
        </form>
      }
    </div>
  </div>
</div>
